#navegacao {
    background-color: #C13600;
}

body {
    background-color: #c7c2c1;
    background-image: url(../imagens/logo.png.png);
    background-repeat: round;
}

#form-pedido {
    background-color: #dd5621;
}